/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 10px 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

.form-group {
}

.form-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  About ------- */

#about {
  display: flex;
  flex-direction: column;
}
#about h2 {
  padding-top: 20px;
}
#about img {
  width: 100%;
  margin: 10px 0 10px 0;
}

#about P {
  width: 100%;
  text-align: left;
}

/* -------  Ideas ------- */
#ideas {
  display: flex;
  flex-direction: column;
}
#ideas h2 {
  padding-top: 20px;
}
#ideas img {
  width: 100%;
  margin: 0 0 10px 0;
}

/* -------  Host ------- */
#host {
  display: flex;
  flex-direction: column;
}
#host h2 {
  padding-top: 20px;
}
#host p {
  text-align: left;
}

#host img {
  width: 100%;
  margin: 10px 0 10px 0;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (max-width: 350px) {
  /* -------  Navigation ------- */
  .logo {
    font-size: 35px;
  }
}

@media all and (min-width: 480px) {
  /* -------  Navigation ------- */
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    font-size: 40px;
  }
  header nav ul {
    margin: 10px 0 0 0;
  }

  /* -------  Stay ------- */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-item {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    align-items: center;
  }

  .form-item label,
  .form-item input,
  .form-item select {
    width: 90%;
  }

  form button {
    width: 180px;
    align-items: center;
  }

  /* -------  About ------- */
  #about {
    flex-direction: column;
  }
  .about-group {
    display: flex;
    flex-direction: row;
  }
  .img-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 10px;
  }

  #about img {
    flex: 1;
    margin: 10px 10px 10px 0;
  }

  #about P {
    flex: 1;
    text-align: left;
    align-self: center;
  }

  /* -------  Ideas ------- */
  .ideas-group {
    display: flex;
    flex-wrap: wrap;
  }
  .ideas-item {
    width: 49%;
    margin: 0.5%;
  }

  #ideas img {
    width: 100%;
    margin: 0 0 10px 0;
  }

  /* -------  Host ------- */
  #host {
    flex-direction: row;
  }
  .host-group {
    flex: 1;
    width: 100%;
    margin: auto;
  }

  #host h2 {
    padding-top: 20px;
  }
  #host p {
    text-align: left;
  }

  #host img {
    flex: 1;
    width: 100%;
    margin: 10px;
  }
}

@media all and (min-width: 630px) {
  .img-group {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin-right: 40px;
    align-items: center;
  }

  #about img {
    flex: 1;
    width: 50%;
    margin: 10px 10px 10px 0;
  }
}

@media all and (min-width: 1000px) {
  /* -------  Stay ------- */
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form-group {
    width: 80%;
    display: flex;
    flex-direction: row;
  }

  .form-item {
    flex: 1;
  }
  .form-item label,
  .form-item input,
  .form-item select {
    width: 70%;
  }

  form button {
    width: 180px;
    align-items: center;
  }
}
